body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

#menu {
  text-align: center;
}

img {
  max-width: 90vw;
  max-height: 90vh;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.loading {
  animation: loading 0.5s infinite linear;
  animation-direction: alternate;
}

@keyframes loading{
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}